
body{
    background:rgb(134, 114, 226);
    margin: 0px;
    padding: 0px;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   
  .Inputgrp{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px 15px blueviolet;
  }
  
  input{
    height: 6vh;
    width: 400px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    outline: none;
  }

  button{
      display: flex;
      flex-direction: column;
      align-items: center;
    color: white;
    height: 6vh;
    width: 400px;
    border-radius: 6px; 
    background-color: rgb(119, 105, 201);
    outline: none;
    border: none;
    margin-bottom: 6px;
    margin-top: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    cursor: pointer;
    padding-top: 6px;
  }


  .Inputgrp:hover{
    transform: scale(1.04);
    transition: all 1s ease;
  }
  .Inputgrp:active{
   transform: scale(1);
   transition: all 1s ease;
  }
  p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: larger;
  }
  a{
    color: rgb(217, 255, 0);
  }
   