* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: none;
}
body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:rgb(134, 114, 226);
}
#one {
  margin-bottom: 7vh;
  margin-top: 2vh;
}
.container {
  /* border:1px solid black; */
  width: 36vw;
  height: 14vh;
  position: relative;
  margin-top: 5%;
  margin-left: 14%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container input {
  width: 70%;
  height: 60%;
  background: rgb(246, 244, 244);
  /* padding-left: 8px; */
  color: black;
  border: none;
  font-size: larger;
  border-radius: 5px 5px 0px 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.loginbox {
  background-color: #fff;
  border-radius: 5%;
  position: relative;
  height: 66vh;
  margin-left: 9%;
  margin-top: 3%;
  box-shadow: 0 0 15px 15px blueviolet;
}
button:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}
button:active{
  transform: scale(1);
  transition: all 0.5s ease;
}
#lab1 {
  position: absolute;
  top: 113%;
  left: 3%;
  transform: translateY(-50%);
  transition: all 0.6s ease;
  font-size: 23px;
  pointer-events: none;
  color: #cdc8d4;
}

/* .gif {
  top: auto;
  right: auto;
  position: fixed;
  left: 74vw;
  bottom: 65vh;
  z-index: 2;
} */

#lab2 {
  position: absolute;
  top: 221%;
  left: 3%;
  transform: translateY(-50%);
  transition: all 0.6s ease-in-out;
  font-size: 23px;
  pointer-events: none;
  padding: 1px;
  color: #cdc8d4;
}
.loginsgv {
  width: 31vw;
  height: 56vh;
  position: relative;
  box-shadow: 0 0 15px 15px white;
  border-radius: 30px;
}
.loginsgv:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.loginsgv:active{
  transform: scale(1);
  transition: all 0.5s ease;
}

#forget-password {
  margin-left: 22%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input:focus + #lab1,
input:valid + #lab1 {
  font-size: 15px;
  font-weight: 500;
  top: 70%;
  background-color: white;
  color: black;
  padding: 2px;
  outline: none;
}
input:focus,
input:valid {
  border-bottom: 2px solid black;
}

input:focus + #lab2,
input:valid + #lab2 {
  font-size: 15px;
  font-weight: 500;
  top: 173%;
  background-color: white;
  color: black;
  padding: 2px;
  outline: none;
}
#DHA {
  margin-top: 5%;
  margin-left: 12%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#login-button {
  cursor: pointer;
  margin-top: 12%;
  height: 35%;
  margin-left: 5%;
  border: none;
  background-color: rgb(104, 168, 231);
  border-radius: 5px;
  width: 7vw;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
#login-button:hover {
  background-color: rgb(45, 45, 247);
}
.container h1 {
  margin-left: 14%;
}
/* #l{
  display: none;
} */
#eye {
  position: absolute;
  width: 2vw;
  height: 4vh;
  top: 28vh;
  left: 26vw;
  cursor: pointer;
}
