<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">
        <title>Document</title>
</head>
<body>
   <script src="./app.js"></script>
<!-- <div class="wave">
        <img src="./up1-cropped.svg" alt="">
    </div> -->
<div class="loginsgv">
    <img id="logipic"src="./Mobile login-amico.svg" alt="">
</div>
<div class="loginbox">
<div class="container">
    <h1>Login Porta<span id="l">l</span>
    </h1>
     <div class="gif">
        <!-- <img id="ham" src="./hammer.gif" alt=""> -->
     </div>
     <br>
    <input type="text" id="one"required="required" >
    <label for="" id="lab1">Username</label>

    <input type="password"  id="two" required="required">
    <label for="" id="lab2">Password</label><br>

     <button  id="login-button">Login</button>
     <a href="/forgetpassword" id="forget-password">Forget password?</a>
     <p id="DHA">Don't have an account?<a href="/registration-choice"><b>Sign up</a></p>
        <img src="/Images/eyeopen.png" alt="" id="eye" onclick="toggle()">

</body>
</html>