<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="CSS/login.css">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <script src="https://kit.fontawesome.com/5aa3c80a23.js" crossorigin="anonymous"></script>
        <title>LEP</title>

<style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Courgette&family=Faster+One&family=Passion+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
        
        @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
  

</style>
</head>
<body>
   <script src="JS/login.js"></script>
<!-- <div class="wave">
        <img src="./up1-cropped.svg" alt="">
    </div> -->
    <nav id="navbar">
        <span id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </span>
        <li id="brand"><a href="#" style="color:whitesmoke;text-decoration: none;">
                LEP
            </a></li>
        <ul class="navmenu" id="navmenu">

            <li class="navitem"><a href="/" class="navlinks disappear">Home</a></li>
            <li class="navitem"><a href="/contact-us" class="navlinks disappear">Contact Us</a></li>
        
            <!-- <li class="navitem"><form action="/logout" method="post"><button type="submit"  class="navlinks" style="background-color: transparent;border: none;" >Logout Out</button></form</li> -->

        </ul>
    </nav>
<div class="loginsgv">
    <img id="logipic" src="Images/Mobile login-amico.svg" alt="">
</div>
<div class="loginbox">
<div class="container">
    <form action="/login" method="post">
    <h1>Login Portal
    </h1>
     <div class="gif">
     </div>
     <br>
    
    <input type="text" id="one"required="required" name="username">
    <label for="" id="lab1">Username</label>
    <input type="password"  id="two" required="required" name="password">
    <label for="" id="lab2">Password</label> &nbsp;<i id='eye'onClick="toggle()"class="fa-solid fa-eye-slash"></i><br>
     <button  id="login-button" onClick="login_checker()">Login</button>
     <a href="/forgetpassword.html" id="forget-password">Forget password?</a>
     <p id="DHA">Don't have an account?<a href="/registration-choice"><b>Sign up</a></p>
        <br>
    <h1><%= data %></h1>
    </form>


       
</body>
</html>
