<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <title>LEP</title>
  </head>

  <body>
    <div class="header">
      <a href="" class="head">Home</a>
      <a href="" class="head">Login/SignUp</a>
      <a href="" class="head">Contact Us</a>
    </div>
    <div class="container">
      <div class="container1">
        <img src="/Images/undraw_hire_re_gn5j.svg" />
        <h1 class="hl">I want to hire.</h1>
        <button class="btn">
          <a href="/employee-registration">Register</a>
        </button>
      </div>

      <div class="container2">
        <img src="/Images/undraw_under_construction_-46-pa.svg" />

        <h1 class="hl">I want to work.</h1>

        <button class="btn">
          <a href="/employer-registration">Register</a>
        </button>
      </div>
    </div>
  </body>
</html>
