<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEP</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Roboto&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
    </style>
    <link rel="stylesheet" href="/CSS/search.css">
   
</head>

<body>
    <div id="loader">
        <div id="ring">

            <span class="blurEffect" style="--i:1"></span>
            <span class="blurEffect" style="--i:2"></span>
            <span class="blurEffect" style="--i:3"></span>

        </div>
        <ul id="loadList">
            <li class="dots" style="--i:0"></li>
            <li class="dots" style="--i:1"></li>
            <li class="dots" style="--i:2"></li>
            <li class="dots" style="--i:3"></li>
            <li class="dots" style="--i:4"></li>
        </ul>
    </div>
    <nav id="navbar">
        <span id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </span>
        <li id="brand"><a href="#" style="text-decoration: none;">
                LEP
            </a></li>
        <ul class="navmenu" id="navmenu">

            <li class="navitem"><a href="/" class="navlinks disappear">Home</a></li>
            <li class="navitem"><a href="/contact-us" class="navlinks disappear">Contact Us</a></li>
           
            <li class="navitem">
                <form action="/logout" method="post"><button type="submit" class="navlinks"
                        style="background-color: transparent;border: none;">Logout</button></form< /li>
                    <!-- Sign Up/Log In -->
        </ul>


    </nav>
    <div id="searchImgBox">
        <span id="searchImgBoxHead">
            <h2>Showing Search Results for&#160;&#160;&#160;</h2>
            <h1> "&#160;change krna hai ye&#160;"</h1>
        </span>
        <svg id="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
            style="position:absolute;bottom:-10%;left:-70vw;width:170vw;">
            <path stroke="white" stroke-width="1" fill="#000000" fill-opacity="1"
                d="M0,128L48,122.7C96,117,192,107,288,133.3C384,160,480,224,576,250.7C672,277,768,267,864,250.7C960,235,1056,213,1152,208C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>

    </div>
    <div id="contentContainer">
        <div id="searchHead">
            <span class="searchBox"><span class="searchText">Pincode: </span><input class="searchInput"
                    type="text"></span>
            <span class="searchBox"><span class="searchText">Service: </span><input class="searchInput"
                    type="text"></span>
            <button type="submit" id="searchBtn">Search</button>
        </div>
        <div id="content">
            <div id="filter">
                <h3 id="filterHead">Filter By</h3>
            </div>
            <div id="searchResults">
                <h3>Search Results:</h3>
              
                <div id="resultCards">
                    <% if(userData.length!=0){ userData.forEach(function(data){%>
                    <div class="resultCard">
                        <div class="userIntro">
                            <img class='profileImg' src="/Images/dummyImg.png" alt="">
                            <div class="userNp">
                                <span class="userName"><%= data.username %></span>
                                <span class="profession"><%= data.Skills%></span>
                            </div>
                        </div>
                        <div class="employeeDetails">
                            <span class="experience"><span class="ques">Experience : </span><span class="ans"><%= data.Exp%></span></span>
                            
                            <span class="pincodes"><span class="ques">Available in areas(Pincodes) : </span><span
                                    class="ans"><%= data.pincode%></span></span>
                        </div>
                        <div class="book">
                            <button type="submit" class="bookBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Hire</button>
                        </div>
                    </div>
                    
                    <%  }) %> <% } else{ %>
                          <tr>
                            <td >No Data Found</td>
                          </tr>
                          <% } %>
                </div>
                
            </div>
        </div>
    </div>
    <div id="modalContainer"  style="display: none;">
        <div id="modalContent">
            <span id="closeModalBtn">&times;</span>
            <span id="dateDisplay"></span>
            <h3 id="bookHead">Please Select a Booking Slot Time:</h3>
            <div id="slots">
                <button class="slot" value="11">9:00 AM-11:00 AM</button>
                <button class="slot" value="13">11:00 AM-1:00 PM</button>
                <button class="slot" value="15">1:00 PM -3:00 PM</button>
                <button class="slot" value="17">3:00 PM-5:00 PM</button>
                <button class="slot" value="19">5:00 PM-7:00 PM</button>
                <button class="slot" value="21">7:00 PM-9:00 PM</button>
                <button class="slot" value="24">9:00 PM-11:00 PM</button>
                
            </div>
            <button type="submit" id="hireBtn" >Hire</button>
        </div>
    </div>
</form>
    <script src="/JS/search.js"></script>
    
</body>

</html>