<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/search_page.css" />
    <script
      src="https://kit.fontawesome.com/5aa3c80a23.js"
      crossorigin="anonymous"
    ></script>
    <title>LEP</title>
  </head>
  <body>
    <div id="searchDiv">
      <i id="searchIcon" class="fa-solid fa-magnifying-glass"></i
      ><input
        type="text"
        name=""
        id="search"
        placeholder="Search for services..."
      />
    </div>
    <div class="cha">
      <div class="filters" align="left" resize="10%">
        <label for=""><input type="checkbox" name="" id="" />By Distance</label>
        <label><input type="checkbox" name="" id="" />By Ratings </label>
        <label> <input type="checkbox" name="" id="" />By Experience </label>
        <label><input type="checkbox" name="" id="" />By Cost </label>
      </div>
      <div class="searchResults" align="right"></div>
    </div>
  </body>
</html>
