<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/styleUp.css" />
    <script
      src="https://kit.fontawesome.com/1289fe8b16.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/navbar.css" type="text/css">
    <title>User Profile</title>
  </head>
  <body>
    <div class="sidebar">
      <!-- <div class="logo"></div> -->
      <!-- LEP -->

      <ul>
        <li id="top">
          <a href="#"
            ><span> LEP</span></i></a
          >
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-user"></i> <span> Profile</span></a>
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-receipt"></i> <span> History</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-book-open"></i> <span>Booking</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-credit-card"></i> <span>Payment</span></a
          >
        </li>
        <li>
          <a href="#" id="logOut"
            ><i class="fa-solid fa-right-from-bracket"></i> <span>Log out</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <span> <i class="fa-solid fa-bars"></i></span>
        </div>
      </div>
    </div>

    <script>
      const toggle = document.querySelector(".toggle");
      const main = document.querySelector(".main");
      const sidebar = document.querySelector(".sidebar");

      toggle.onclick = function () {
        sidebar.classList.toggle("active");
        main.classList.toggle("active");
      };
    </script>
  </body>
</html>
