*{
    margin: 0;
    padding: 0;
}
:root {
    --back-colour : #7070fe;
    --form-colour : white;
    --form-border : 1px solid rgba(255, 255, 255, 0.3);
    --form-shadow : 2px 2px 15px rgba(0, 0, 0, 0.3);
    --form-font : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --f-bottom : 1px solid rgb(12, 12, 12);
    --high-colour : #ffcd24;
    --btn-colour : rgb(104, 168, 231);
    --btn-hower : rgb(45, 45, 247);
}

#registerHead{
    text-align: center;
    padding: 10px 50px;
    font-family: sans-serif;
}
body{
    /* background: linear-gradient(#3c3ab5,#0a096e); */
    background: var(--back-colour);
    background-size: 150%;
    background-position: -400px 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar {
    position: fixed;
    width: 100%;
    height: 5.5vw;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .navmenu {
    z-index: 5;
    float: right;
    height: 100%;
    width: 60%;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5vw;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 1000;
  }
  
  .navlinks {
    text-decoration: none;
    color: whitesmoke;
    font-family: monospace;
    font-size: 2vw;
    font-weight: 700;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    position: relative;
  }
  
  #brand {
    text-shadow: 0 0 15px rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
    left: 150px;
    list-style: none;
    font-family: "Monoton", cursive;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 4vw;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
   
  }
  
  #brand:hover {
    text-shadow: 0 0 25px rgb(115, 255, 90);
    color: #000000 !important;
  }
  
  /* #logo1{
      width: 250px;
      height: 120px;
  } */
  
  .navitem {
    list-style: none;
    z-index: 10;
  }
  
  #hamburger {
    display: none;
    width: 40px;
    height: 30px;
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  
  .bar {
    display: none;
    width: 100%;
    height: 4px;
    background-color: white;
  }
  
  
  .navlinks::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2.5px;
    width: 0px;
    left: 0%;
    background-color: rgb(255, 255, 255);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  
  .navlinks::before {
    content: "";
    position: absolute;
    top: -2px;
    height: 2.5px;
    width: 0px;
    right: 0%;
    background-color: whitesmoke;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  .navlinks:hover:after {
    /* text-decoration: underline; */
    width: 100%;
  }
  .navlinks:hover:before {
    /* text-decoration: underline; */
    width: 100%;
  }
  
  
div.main{
    width: fit-content;
    margin: 100px 0;
}
#er_head{
    text-align: center;
    padding: 10px 50px;
    font-family: sans-serif;
}
div.register{
    background-color: var(--form-colour);
    width: fit-content;
    padding: 25px;
    font-size: 18px;
    border-radius: 10px;
    border: var(--form-border);
    box-shadow: var(--form-shadow);
}
form#register{
    margin: 40px;
}
label{
    font-family: var(--form-font);
    font-size: 18px;
}
.esignup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    border: none;
    border-bottom: var(--f-bottom);
    outline: none;
    padding: 7px;
}
#AHA{
    font-family: var(--form-font)
}

#level{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    border: none;
    border-bottom: var(--f-bottom);
    outline: none;
    padding: 7px;
    display: hidden;
}

#eye{
    /* position: absolute; */
    margin-left: 400px;
    max-width: 4%;
    max-height: 4%;
    cursor: pointer;
    top: 205%;
    right: 34%;
}

#submit{
    text-align: center;
    width: 100px;
    padding: 4px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background : var(--btn-colour);
    color: var(--form-colour);
    border-radius: 2px;
    cursor: pointer;
}
#submit:hover{
    background: var(--btn-hower);
    transform: scale(1.2);
    transition: all 0.5s ease;
} 
#submit:active{
    transform: scale(1);
    transition: all 0.5s ease;
}
/* .btn {
    background: rgb(39, 158, 238);
  
    border-radius: 28px;
  
    box-shadow: 0px 5px 5px #000000;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
  }
  
  .btn:hover {
    background: #FFCD24;
} */
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#pass_strength{
    display: flex;
}

#red,#yellow,#green,#pass_result{
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
    
    div.main{
        margin: 100px 10px;
    }
    #register {
        width: 100vw;
    }

    #brand {
        font-size: 2.8rem;
    }

    #hamburger {
        display: flex;
        gap: 7px;

        z-index: 100;
    }

    .navlinks.active {
        color: rgb(255, 72, 0);
        text-shadow: none;
    }

    #hamburger.active {
        z-index: 1000;
    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        background-color: rgba(255, 72, 0);
        z-index: 100;
    }

    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
        background-color: rgba(255, 72, 0);
        z-index: 100;
    }

    .bar {
        display: block;
        z-index: 100;
    }

    .navmenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -52vw;
        background-color: black;
        height: 100vh;
        width: 40vw;
        z-index: 5;
    }

    .navmenu.active {
        left: 0;
    }

    .navmenu.active:before {
        content: "LEP";
        position: absolute;
        right: 15px;
        top: 15px;
        letter-spacing: 4px;
        font-family: "Monoton", cursive;
        font-size: 2rem;
    }

}
